.div{
    width: 1550px;
    height: 700px;
    border:2px solid rgba(126, 126, 126, 0.644);
}
.table-operations {
    margin-bottom: 16px;
  }
  
  .table-operations > button {
    margin-right: 8px;
  }